@import url(https://fonts.googleapis.com/css?family=Bellefair:regular);
@import url(https://fonts.googleapis.com/css?family=Barlow+Condensed:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Barlow:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
.app {
  width: 100%;
  height: 100%;
  background-color: #0b0d17;
  overflow: hidden;
}

body {
  background: url('assets//home/background-home-mobile.jpg') no-repeat center;
  background-size: cover;
}

@media screen and (min-width: 600px) {
  body {
    background: url('assets//home/background-home-tablet.jpg') no-repeat center;
    background-size: cover;
  }
}

@media screen and (min-width: 922px) {
  body {
    background: url('assets//home/background-home-desktop.jpg') no-repeat center;
    background-size: cover;
  }
}

.heading1 {
  font-family: 'Bellefair', sans-serif;
  font-size: 150px;
  font-weight: 400;
  color: #fff;
}

.heading2 {
  font-family: 'Bellefair', sans-serif;
  font-size: 100px;
  font-weight: 400;
  color: #fff;
}

.heading3 {
  font-family: 'Bellefair', sans-serif;
  font-size: 56px;
  font-weight: 400;
  color: #fff;
}

.heading4 {
  font-family: 'Bellefair', sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #fff;
}

.heading5 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 4.75px;
  color: #fff;
}

.subHeading1 {
  font-family: 'Bellefair', sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: #fff;
}

.subHeading2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2.35px;
  color: #fff;
}

.navText {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2.7px;
  color: #fff;
}

.para Text {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 32px;
  color: #fff;
}
